.thumbnail img{
    width: 100%;
}
.thumnbail{
    padding: 0;
}
.thumbnail .caption-full{
    padding: 9px;
}
.delete-form{
    display: inline;
}
#corpo{
    padding: 0 50px;
}
.checked {
    color: orange;
}